:root {
    --primaryColour: #388c53;
    --secondaryColour: #5BFF8F;
    --textColour: #333; 
}

body {
    font-family: Arial, sans-serif; 
    margin: 0; 
}

.pageTitle {
    color: var(--textColour);
    text-align: center;
    margin: 20px;
}

.body01 {
    background-color: var(--secondaryColour);
    border: 3px solid var(--primaryColour);
    border-radius: 5px;
    padding: 20px;
}

h3 {
    color: var(--textColour); 
}

a {
    color: var(--primaryColour); 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

.buttonStyle01 {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--primaryColour);
    padding: 5px;
    background-color: var(--primaryColour);
    color: black;
    font-weight: bold;
    margin: 5px;
}

.buttonStyle01:hover {
    background-color: var(--secondaryColour);
    color: var(--textColour);
    font-weight: bold;
}

.navbar {
  position: sticky;
  overflow-x: visible;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
